[Desktop Entry]
Version=1.0
Categories=GNOME;
Icon=code-oss
Name=Code recents
Comment=GNOME Shell search provider for vscode
Exec=/usr/bin/code-oss %F
Terminal=false
Type=Application
OnlyShowIn=GNOME;
